[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimrails"]
	path = bundle/vimrails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/wzzrd/vim-matchit.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-ruby-doc"]
	path = bundle/vim-ruby-doc
	url = git://github.com/lucapette/vim-ruby-doc.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
