[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimrails"]
	path = bundle/vimrails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/wzzrd/vim-matchit.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/vim-scripts/Gist.vim.git
[submodule "/home/adam/.vim/bundle/gundo"]
	path = /home/adam/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
